#title {
    font-family: 'Montserrat', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 110px;
    background-color: #eeeeee;
}

.jumbotron {
    background-color: #1465F9;
}

.info-box {
    padding: 25px;
    border: 1px solid #bbbbbb;
    background-color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #1465F9;
    margin-top: 50px;
}

.footer-text {
    color: white;
}