body {
    margin-bottom: 110px;
    background-color: #eeeeee; 
    font-family: 'Oxygen', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.btn-outline {
    color: white;
    background-color: #3E78B2;
}

.jumbotron {
    background: linear-gradient( to right, #897292, #3E78B2, #D8BFD8, #fb88ff);
}


.info-box {
    padding: 25px;
    border: 1px solid #bbbbbb;
    background-color: white;
}

.btn-dark {
    padding: 10px;
    float: right;
}

.img-fluid {
    margin-top: 10px;
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    background: linear-gradient( to left, #897292, #3E78B2,	#D8BFD8, #fb88ff);

}

.nav-link {
    color: white;
}

.footer-text {
    color: #000;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
}
.input-group{
    width:700px; margin:0 auto;
    text-align: center;
}

.btn-default{
    
    border: none;
    background: none;
    font-weight: bold;

}

.btn:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

/*contactpage*/
.contacthead {
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;
    font-style: bold;
    color: #3E78B2;
}

.form-group {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #897292;
}

.contactsubmit {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background-color: #3E78B2;
    float: right;
}

/*about page*/
.aboutheader {
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;
    font-style: bold;
    color: #3E78B2;
}

.abouttext {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    padding: 12px;
} 

.aboutinfohead {
    color:  #897292;
    font-family: 'Oxygen', sans-serif;
    margin-top: 3px;
}


/*wishlist*/
.deletesubmit {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background-color: #3E78B2;
}

/* modal style */
.modal {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
}
#ofAgeModalContent{
    background-color: #f4f4f4;
    margin: 20% auto;
    /* padding: 20px; */
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
.modal-header{
    background-color: coral;
    padding: 15px;
    color: white;
}
.modal-body {
    padding: 10px 20px;
}
#ofAgeBtn{
    text-align: center;
    background: #3E78B2;
    padding: 1em 2em;
    color: white;
    border:1px solid white;
}
.modal-footer{
    background-color: coral;
    padding: 10px;
    color:white;
    text-align: center;
}

#ofAgeBtn:hover{
    background: black;
}

.card-header {
    color: #0000EE !important;
}

.card-text {
    margin: 10px 0px 5px 10px;
}

.card-header:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.games {
    margin: 10px;
}

#close-btn:hover {
    cursor: pointer;
}

/* Review Icons */

#metacritic{
    
    float:left;
    display:inline-block;
}
#metacritic-icon{
float:left;
display:inline-block;
width: 5px;
height: 5px;
padding: 7px;
margin-left:2px;
border: 1px solid #fff;    
}

/* Game title box */
#gametitle {
    font-size: 24px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-box {
    border: 3px solid #897292;
    
}

#sys-req {
    border-bottom: 100px !important;
}

/* position */
#desc-box{
    position: relative;
}


#gameurl{
    position: absolute;
    bottom: 10%;
}
